* {
    box-sizing: border-box;
}

.headeris {
    display: flex;
    justify-content: center;
}

.menesio-wraperis {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
}

.savaites-dienos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;   
}

.diena {
    display: flex;
    justify-content: space-around;
    align-content: center;
  
    flex-grow: 1;
    height: 37px;
    width: 100px;
    background-color: rgb(164, 157, 157);
    border-style: ridge;  
}

.men-dienos {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    /* border: 2px solid black; */
}

.men-diena {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    flex-grow: 1;
    height: 80px;
    width: 100px;
    background-color: rgb(190, 185, 185);
    border-style: ridge;
}

.blank {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    flex-grow: 1;
    height: 80px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}