* {
    box-sizing: border-box;
}


.headeris {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.menesio-wraperis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.savaites-dienos {
    display: flex;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    width: 100%; 
}

.diena {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-shrink: 1;
    border: 1px solid whitesmoke;
    background-color: rgb(164, 157, 157);
    padding: 5px;  
}

.men-dienos {
    display: flex;
    flex-wrap: wrap;

}

.men-diena {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    flex-grow: 1;
    height: 80px;
    width: 14%;
    padding: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(190, 185, 185);
    border: 1px solid whitesmoke;
}

.blank {
   background-color: rgb(255, 255, 255);
    
}