* {
    box-sizing: border-box;
}

.konteineris {
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-between; */
    align-items: flex-start;
   
    border: 1px solid silver;
    /* height: 300px; */
    width: 900px;
    padding: 0px;
}


.virsus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 237, 125);
    background-color: #12205a;
    border: 1px solid #12205a;
    padding: 0.5em;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid beige;
}

.meniu {
    display: flex;
    height: 60px;
    background-color: black;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

.mygtukas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(164, 146, 146);
    flex-grow: 1;
}
.mygtuko-nuoroda {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    line-height: 25px;
    text-align: center;
}

.teksto-konteineris {
    display: flex;
    border-bottom: 10px solid black;
}

.paragrafas1 {
    background-color: beige;
    flex-grow: 3;
    max-width: 65%;
    min-width: 60%;
    padding: 10px 20px 10px 30px;
}

.paragrafas2 {
    background-color: azure;
    flex-grow: 1;
    min-width: 30%;
    padding: 10px 20px 10px 30px;
}

.footeris {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    background-color:antiquewhite ;
}