* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(7, 66, 192, 0.609);
    padding: 20px 10px 20px 10px; 
}

.brand {
    display: flex;
    flex-direction: column;

}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.miestai {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    color: white;
    font-size: 10px

}

.quick-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
    gap: 8px;
    border-right: 1px solid white;

}

.quick-nav-1-link {
    display: block;
    width: 100%;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.navigation-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100px;
    border: 1px solid white;
    border-radius: 4px;

    
}

.navigation-1-link {
    display: block;
    width: 100%;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: white;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 30px;
    width: 100%;
    background-color: blue;
    
}

.main-nav-buton {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 20%;
    border: 1px solid rgb(50, 50, 253);
}

.main-nav-buton-link {
    display: block;
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    border-color: white;
    border: 100px;
    padding: 20px 0px 10px 0px;
}

.hero-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("academics-hero.jpg");
    width: 100%;  
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero-text-1 {
    display: flex;
    justify-content: center;
    width: 150%;
    font-size: 50px;
    color: white;
    padding-top: 20px;
    border-top: 1px solid white;  
}

.hero-text-2 {
    display: flex;
    justify-content: center;
    width: 150%;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 1px solid white;   
}

.slogan {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    background-color: green;
    padding: 10px;
}

.slogan-left-text {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: white;
    
    
}

.slogan-right-text {
    display: flex;
    font-size: 15px;
    color: white;
    width: 60%;
}
    
