* {
    box-sizing: border-box;
}

.raidziu-wraperis {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    /* justify-content: space-between; */
    border: 5px solid silver;
    border-radius: 18px;
    padding: 10px;
}

.eiluciu-wraperis {
    display: flex;
    justify-content: space-between;
}

.pilkas-fonas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;    
    width: 100px;
    height: 100px;
    background-color: rgb(125, 123, 123);
    border: 1px solid white;
}

.zalias-fonas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100px;
    height: 100px;
    background-color: rgb(6, 142, 20);
    border: 1px solid white;
}

.blank {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
   
}

.text {
    
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}